# Dependencies
node_modules/
public/
# Environment variables
.env
.env.local
.env.production
.env.development
.pem

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/*.code-snippets
.vscode/launch.json
.idea/

# Coverage
coverage/
