.container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px !important;
    }
}
@media (min-width: 768px){
.container {
    max-width: 720px !important;
}
}
@media (min-width: 992px){
.container {
    max-width: 960px !important;
}
}
@media (min-width: 1280px){
.container {
    max-width: 1200px !important;
}
}

.card-body{
    padding: 0.5rem 1.5rem 1.5rem 1.5rem !important;
}
.card {
    position: relative;
    margin-bottom: 1.5rem !important;
    width: 100%;
}
.catbox li {
    float: left;
    display: block;
    width: 180px;
}

.widget-spec li {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    
}
.widget-spec li i {
    margin-right: 0.5rem;
    margin-top: 3px;
}
.card-header {
    background: none;
    padding: 0.5rem 1.5rem;
    display: -ms-flexbox;
    display: flex;
    min-height: 3.5rem;
    -ms-flex-align: center;
    align-items: center;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    border-radius: 4px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e8ebf3;
}
.arrow-ribbon {
    color: #FFF;
    padding: 2px 8px;
    position: absolute;
    top: 10px;
    left: 0px;
    font-size: 18px;
}
.arrow-ribbon.bg-primary1:before {
    border-left: 15px solid #6963ff;
}
.arrow-ribbon.bg-primary1:before {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    right: -15px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    width: 0;
}
.bg-primary1 {
    background-color: #6963ff !important;
}
.item2-gl-nav {
    padding: 15px;
    border: 1px solid #e8ebf3;
    text-align: right;
    border-radius: 3px;
}

.d-flex {
    display: flex !important;
}
.item2-gl-nav .item2-gl-menu {
    margin-right: 10px;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.item2-gl-nav .item2-gl-menu {
    margin-right: 10px;
}
.item2-gl-nav .item2-gl-menu li a {
    padding: 10px 10px 11px 10px;
    color: #605e7e;
    font-size: 20px;
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}