.icon-append {

	color: #949494;

	font-size: 27px;

	position: absolute;
}
.has-icon {
    padding-left: 25px !important;
}
.border-0 {
    border: 0 !important;
}
.form-control{
display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.6;
    color: #605e7e;
    height: 39px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e8ebf3;
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.facetbg{
    background-image: url('../img/banner1.jpg') !important;
    background:rgba(0, 0, 0, 0) ;
    background-repeat: no-repeat; 
    background-attachment:scroll; 
    background-position: center center; 
    background-size: cover;
    padding-bottom:30px;
}

.text-center {

	text-align: center !important;

}
.text-white {

	color: #fff !important;

}
.marketplace-alignment .text-center{

	margin: 0 auto;

	text-align:center;

	display:block;

}
.text-white-50 {

	color: rgba(255, 255, 255, 0.5) !important;

}
.banner-1 .header-text h1{
	margin-bottom:.3rem;
	font-weight: 400;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}
h1 {
    font-size: 2.5rem;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 0.66em;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	line-height: 1.1;
}
.banner-1 .header-text p {
    margin-bottom: 1.5rem;
    font-size: 16px;
}
.bg-background2 {
    overflow: hidden;
    position: relative;
}
.sptb-2 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.cover-image {
    background-size: cover !important;
    width: 100%;
    position: relative;
}
.bg-background2:before{

	content:'';

	position:absolute;

	width:100%;

	height:100%;

	left:0;

	right:0;

	display:block;

	z-index:1;

	top:0;

}
.bg-background2:before {
	background: linear-gradient(to right, rgba(59, 162, 255, 0.9), rgba(105, 99, 255, 0.8));
}
.bg-background2 .header-text {
    position: relative;
    z-index: 10;
}
.banner-1 .header-text p {
    margin-bottom: 1.5rem;
    font-size: 16px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}
.item-search-tabs {
    margin-top: 2rem;
}