.header-logo-wrapper{
 flex: 0 0 20%;
padding: 0 15px;
max-height: 120px;
}

.container {

	width: 100%;

	padding-right: 0.75rem;

	padding-left: 0.75rem;

	margin-right: auto;

	margin-left: auto;

}

@media (min-width: 576px) {

	.container {

		max-width: 540px;

	}

}

@media (min-width: 768px) {

	.container {

		max-width: 720px;

	}

}

@media (min-width: 992px) {

	.container {

		max-width: 960px;

	}

}

@media (min-width: 1280px) {

	.container {

		max-width: 1200px;

	}

}

.btn-login{
	display: block;
    padding: 9px 15px;
    text-decoration: none;
    position: relative;
    margin: 0 2px;
    border-radius: 3px;
	color: #504e70;
	font-size: 1.3rem;
}

.btn-login:hover {
	background-color:#6963ff;
	color: #fff;
}
.header {
	position: sticky !important;
	top: 0; /* Stick to the top of the viewport */
	background-color: #fff; /* Customize the header background color */
	color: white; /* Customize the text color */
	padding: 10px; /* Add padding for spacing */
	z-index: 100; /* If other elements overlap, ensure the header is on top */
  }
	

  .horizontalMenu-list>li>ul.sub-menu {
	position: absolute;
	top: 90px;
	z-index: 1000;
	margin: 0px;
	padding: 0px;
	min-width: 210px;
	background-color: #fff;
	border:1px solid #e8ebf3;
	border-radius: 2px;
	box-shadow:0px 5px 25px rgba(39, 55, 76, 0.2);
}
.horizontalMenu-list>li>ul.sub-menu>li {
	position: relative;
	margin: 0px;
	padding: 0px;
	display: block;
}
.horizontalMenu-list>li>ul.sub-menu>li>a {
	background-image: none;
	color: #6c6a8d;
	border-right: 0 none;
	text-align: left;
	display: block;
	line-height: 22px;
	padding: 8px 12px;
	text-transform: none;
	font-size: 1.2rem;
	letter-spacing: normal;
	border-right: 0px solid;
	text-decoration: none;
}
.horizontalMenu-list>li>ul.sub-menu>li>a:hover {
	text-decoration: none;
}
.horizontalMenu-list>li>ul.sub-menu>li>a>.fa {
	margin-right: 9px;
}
.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu {
	min-width: 220px;
	position: absolute;
	left: 100%;
	top: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #fff;
	border:1px solid #e8ebf3;
}
.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li {
	position: relative;
	margin: 0px;
	padding: 0px;
	display: block;
}
.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a {
	background-image: none;
	color: #6c6a8d;
	border-right: 0 none;
	text-align: left;
	display: block;
	line-height: 22px;
	padding: 8px 12px;
	text-transform: none;
	font-size: 14px;
	letter-spacing: normal;
	border-right: 0px solid;
}
.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a:hover {
	text-decoration: none;
}
.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a>.fa {
	margin-right: 9px;
}
.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu {
	min-width: 220px;
	position: absolute;
	left: 100%;
	top: 0;
	margin: 0px;
	list-style: none;
	padding: 0px;
	background-color: #fff;
	border:1px solid #e8ebf3;
}
.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li {
	position: relative;
	margin: 0px;
	padding: 0px;
	display: block;
}
.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a {
	background-image: none;
	color: #6c6a8d;
	border-right: 0 none;
	text-align: left;
	display: block;
	line-height: 22px;
	padding: 8px 12px;
	text-transform: none;
	font-size: 13px;
	letter-spacing: normal;
	border-right: 0px solid;
}
.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a:hover {
	text-decoration: none;
}
.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a>.fa {
	margin-right: 9px;
}
.horizontalMenu-list>li>ul.sub-menu {
    display: block;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.3s, opacity 0.3s;
	-ms-transition: -ms-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	
}

.horizontalMenu-list>li>ul.sub-menu>li>a:hover {
	text-decoration: none;
	
	color: #504e70;

	background-color: #6963ff !important;

}
.horizontalMenu-list>li>a {
    display: block;
    padding: 9px 15px;
    text-decoration: none;
    position: relative;
    margin: 0 2px;
    border-radius: 3px;
}
