.icon-bgx i {
    font-size: 2.5rem;
}
.bg-purple-transparent {
    background-color: rgba(96,77,216, 0.1);
}
.icon-service {
    display: inline-flex;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.text-purple {
    color: #604dd8 !important;
}
a {
    color: #605e7e !important;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.font-weight-semibold {
    font-weight: 500 !important;
}
.text-muted {
    color: #797896 !important;
}